<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamingrewardandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/b"
        android:label="@string/app_name"
        android:roundIcon="@drawable/b"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SmartcookieRegistration.SmartcookieRegistration"></activity>
        <activity android:name=".LeaderBoard.LeaderBoard" />
        <activity android:name=".PointsLog.PointsLogActivity" />
        <activity android:name=".PointsForm.PointsEarnedActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SuggestGame.SuggestGame" />
        <activity android:name=".PointsForm.PointsDataForm" />
        <activity android:name=".GamerProfile.GamerProfileActivity" />
        <activity
            android:name=".Dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Registration.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginStudent.LoginActivity" />
    </application>

</manifest>